<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YXRadarScanDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F7DF69161DAB324C00A832ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7DF692F1DAB324C00A832ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7DF693A1DAB324C00A832ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
